@charset "UTF-8";

#contents {
    padding-bottom: 10rem;
}

.contents_util {
    position: relative;
    display: flex;
    align-items: center;
    margin: 6.5rem 0 4rem;
}

.contents_title {
    font-size: 3rem;
    font-weight: bold;
    color: #111111;
}

/* site map */
.sitemap > ul {
    width: calc(100% + 4rem);
    overflow: hidden;
}

.sitemap > ul > li {
    float: left;
    width: 25%;
    margin-bottom: 5.8rem;
    padding-right: 4rem;
}

.sitemap > ul > li .depth-01 {
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    background-color: #ffffff;
    border-top: 1px solid rgba(68, 68, 68, .5);
    border-bottom: 1px solid rgba(68, 68, 68, .5);
    font-size: 1.8rem;
    font-weight: 600;
    color: #111111;
    text-align: center;
    letter-spacing: -.19px;
}

.sitemap > ul > li .depth-02 > li > a {
    display: block;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #DDDDDD;
    font-size: 1.5rem;
    font-weight: 500;
    color: #383b40;
    text-align: left;
}

@media (max-width: 650px) {
    .sitemap > ul {
        width: 100%;
    }

    .sitemap > ul > li {
        width: 100%;
        padding-right: 0;
    }
}