@charset "UTF-8";

#contents {
    padding-bottom: 10rem;
}

.contents_util {
    position: relative;
    display: flex;
    align-items: center;
    margin: 6.5rem 0 4rem;
}

.contents_title {
    font-size: 3rem;
    font-weight: bold;
    color: #111111;
}

/* site map */
.sitemap > ul {
    width: calc(100% + 4rem);
    overflow: hidden;
}

.sitemap > ul > li {
    float: left;
    width: 25%;
    margin-bottom: 5.8rem;
    padding-right: 4rem;
}

.sitemap > ul > li .depth-01 {
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    background-color: #ffffff;
    border-top: 1px solid rgba(68, 68, 68, .5);
    border-bottom: 1px solid rgba(68, 68, 68, .5);
    font-size: 1.8rem;
    font-weight: 600;
    color: #111111;
    text-align: center;
    letter-spacing: -.19px;
}

.sitemap > ul > li .depth-02 > li > a {
    display: block;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #DDDDDD;
    font-size: 1.5rem;
    font-weight: 500;
    color: #383b40;
    text-align: left;
}

/* detail */
.movie_detail_page {
    position: relative;
    height: 52rem;
    margin-bottom: 4rem;
    background-color: #151515;
    z-index: 1;
}

.movie_detail_page .bg_img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 128rem;
    height: 100%;
    margin-left: -55rem;
    opacity: .8;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 1;
}

.movie_detail_page .bg_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #0f0f0f 20%, rgba(15, 15, 15, 0) 50%, #0f0f0f 80%);
    z-index: 4;
}

.movie_detail_page .cont {
    position: relative;
    display: grid;
    grid-template-columns: auto 26rem;
    gap: 2rem;
    width: 128rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5.5rem;
    z-index: 4;
}

.movie_detail_page .tit {
    font-size: 4.5rem;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
}

.movie_detail_page .btn_util {
    padding-top: 1.5rem;
    text-align: left;
}

.movie_detail_page .grade {
    position: absolute;
    left: 0;
    bottom: 4.5rem;
}

.movie_detail_page .grade::before {
    content: '';
    display: table;
}

.movie_detail_page .grade strong {
    display: block;
    padding-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #CCCCCC;
    text-align: left;
}

.movie_detail_page .grade strong + p {
    font-size: 3rem;
    font-weight: 400;
    color: #ffffff;
}

.movie_detail_page .poster img {
    display: block;
    width: 100%;
    border-radius: 1rem;
}

/* 주요 정보 */
.movie_summary {
    margin-top: 8rem;
    margin-bottom: 5rem;
    color: #222222;
}

.movie_summary p {
    text-align: left;
    line-height: 2;
    word-break: keep-all;
}

.movie_summary + .movie_info {
    border-top: 1px solid #EAEAEA;
}

.movie_info {
    padding: 5rem 0;
    color: #222222;
}

/* tab */
.tab_list {
    width: 100%;
    background-color: #ffffff;
}

.tab_list::before {
    content: '';
    display: table;
}

.tab_list > ul {
    position: relative;
    width: 100%;
    height: 4.2rem;
    overflow: hidden;
}

.tab_list > ul > li {
    float: left;
    height: 4.2rem;
    margin: 0;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #EBEBEB;
    font-size: 1.6rem;
    font-weight: 400;
    color: #222222;
    line-height: 4.1rem;
}

.tab_list > ul > li:hover {
    cursor: pointer;
}

.tab_list > ul > li:last-child {
    border-right: 1px solid #EBEBEB;
}

.tab_list > ul > li.on {
    border: 1px solid #503396;
    border-bottom: 0;
    color: #503396;
}

.tab_list > ul > li.on ~ li {
    border-left: 0;
    border-bottom-color: #503396;
}

.tab_list > ul >li:first-child:nth-last-child(2),
.tab_list > ul >li:first-child:nth-last-child(2) ~ li {
    width: 50%;
}

/* table */
.con_table table {
    border-top: 1px solid #707070;
    letter-spacing: -.016rem;
}

.con_table tr {
    border-bottom: 1px solid #E1E1E1;
}

.con_table tr th {
    padding: 1rem 2rem;
    background-color: #F8F9FB;
    font-weight: 600;
    text-align: start;
    word-break: keep-all;
}

.con_table tr td {
    height: 5rem;
    padding: .5rem 2rem;
    color: #767676;
    word-break: break-word;
    text-align: left;
}

/* graph */
.movie_graph .col {
    width: 100%;
    padding: 30px;
    border: 1px solid #EAEAEA;
}

.movie_graph .col .col_tit {
    font-size: 1.6rem;
    font-weight: 400;
    color: #555555;
    text-align: center;
}

.movie_graph .col .graph p {
    font-size: 3.3rem;
    font-weight: 600;
    color: #503396;
}

/* review */
.movie_idv_story {
    position: relative;
    display: block;
    min-height: 50rem;
    margin-top: 4rem;
}

.story_area {
    position: relative;
    display: flex;
    align-content: center;
    gap: 1rem;
    width: 100%;
}

.story_area .user_prof {
    position: relative;
    width: 10.5rem;
    text-align: center;
}

.story_area .user_id {
    width: 10.5rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #444444;
}

.story_area .story_wrap {
    position: relative;
    width: calc(100% - 11.5rem);
}

.story_area .story_wrap input {
    width: calc(100% - 10.8rem);
    height: 100%;
}

.story_area .story_wrap .btn {
    height: 100%;
}

.movie_idv_story .under_title {
    margin: 6rem 0 1.5rem;
    color: #222222;
    text-align: left;
}

.movie_idv_story .under_title small {
    font-size: 1.5rem;
    font-weight: 700;
    color: #01738b;
}

.review_area .no {
    padding: 3rem 0;
    border-top: 1px solid #503396;
    border-bottom: 1px solid #503396;
    font-size: 2rem;
    color: #444444;
}

.review_area > ul {
    width: 100%;
}

.review_area > ul > li {
    position: relative;
    display: flex;
    gap: 2rem;
    width: 100%;
}

.review_area > ul > li .user_prof {
    position: relative;
    width: 10.5rem;
    text-align: center;
}

.review_area > ul > li .profile {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 1rem;
    background-color: #EBEBEB;
    border-radius: 100%;
    font-size: 2.5rem;
    line-height: 5.1rem;
    color: #ffffff;
}

.review_area > ul > li p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 12.5rem);
    padding: 20px;
    background-color: #f8f8fa;
    border-radius: 0 10px 10px 10px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #666666;
}

.review_area > ul > li .user_id {
    width: 10.5rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #444444;
}

.review_area > ul > li + li {
    margin-top: 2rem;
}

@media (max-width: 650px) {
    .sitemap > ul {
        width: 100%;
    }

    .sitemap > ul > li {
        width: 100%;
        padding-right: 0;
    }
}