@charset "UTF-8";

/* Remixicon */
@import url("./font/remix/remixicon.css");

/* Noto Sans KR */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("./font/NotoSansKR/NotoSansKR-Thin.ttf") format("truetype");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("./font/NotoSansKR/NotoSansKR-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("./font/NotoSansKR/NotoSansKR-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./font/NotoSansKR/NotoSansKR-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./font/NotoSansKR/NotoSansKR-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./font/NotoSansKR/NotoSansKR-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./font/NotoSansKR/NotoSansKR-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("./font/NotoSansKR/NotoSansKR-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./font/NotoSansKR/NotoSansKR-Black.ttf") format("truetype");
}
/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("./font/Pretendard/Pretendard-Light.ttf") format("truetype"), url("./font/Pretendard/Pretendard-Light.otf") format("opentype");
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./font/Pretendard/Pretendard-Regular.ttf") format("truetype"), url("./font/Pretendard/Pretendard-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./font/Pretendard/Pretendard-Medium.ttf") format("truetype"), url("./font/Pretendard/Pretendard-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./font/Pretendard/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./font/Pretendard/Pretendard-Bold.ttf") format("truetype"), url("./font/Pretendard/Pretendard-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./font/Pretendard/Pretendard-Black.ttf") format("truetype"), url("./font/Pretendard/Pretendard-Black.otf") format("opentype");
}